/* .big-stamp {
    background-color: var(--brand-color-light);

    padding: var(--spacing-smaller) var(--spacing-small);

    font-family: "Roc Grotesk Wide Bold", "Space Mono", "Fira Code", monospace;
    color: var(--background-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-transform: uppercase;
    letter-spacing: 0rem;
    font-weight: normal;

    text-align: left;
    line-height: 98%;
    margin: 0 0;
    display: block;
    float: left;

} */